body {
    font-size: 16pt;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

div{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h1 h2{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.zoomLabel {
    font-weight: normal;
    transition: transform .2s; /* Animation */
}

.zoomTitle {
    /* font-weight: normal; */
    transition: transform .2s; /* Animation */
}

.zoomTitle:hover {
    font-weight: bold;
    transform: translate(7%, 0%) scale(1.15) ; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoomLabel:hover {
    font-weight: bold;
    transform: translate(7%, 0%) scale(1.15) ; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

img{
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}